<div class="content-body">
    <div class="container-fluid">
      <!-- Add Project -->
      <div class="col-md-12">
        <div class="card" style="display: grid; align-content: center;">
          <div class="card-body text-center ai-icon  text-primary">
            <div class="container my-5">
           
              
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                 <!-- Step 1: Accession Information -->
              <mat-step [stepControl]="accessionFormGroup">
                <form [formGroup]="accessionFormGroup">             

                  <ng-template matStepLabel>report Informations</ng-template>
                  <mat-form-field class="two-columns">
                    <mat-label>Accession Number</mat-label>
                    <input matInput type="text" formControlName="accessionNo" placeholder="Accession No" required>
                    <mat-error *ngIf="accessionFormGroup.get('accessionNo')?.hasError('required')">
                      Accession Number is required.
                    </mat-error>
                  </mat-form-field>
                  
                  
 
                  <mat-form-field class="two-columns">
                    <mat-label>Fiscal Period</mat-label>
                    <mat-select formControlName="fp" placeholder="Select Fiscal Period" required>
                      <mat-option value="Q1">Q1</mat-option>
                      <mat-option value="Q2">Q2</mat-option>
                      <mat-option value="Q3">Q3</mat-option>
                      <mat-option value="Q4">FY</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field class="two-columns">
                    <mat-label>Form Type</mat-label>
                    <mat-select formControlName="form" placeholder="Select Form Type" required>
                      <mat-option value="10-Q">10-Q</mat-option>
                      <mat-option value="10-K">10-K</mat-option>
                    </mat-select>
                  </mat-form-field>
                  

                <!--  <mat-form-field class="two-columns">
                    <mat-label>FiscalYear</mat-label>
                    <input matInput type="number" formControlName="fy" placeholder="FY" required>
                  </mat-form-field> -->

                  <mat-form-field class="two-columns">
                    <mat-label>Filed Date</mat-label>
                    <input matInput type="date" formControlName="filed" placeholder="Filed Date" required>
                  </mat-form-field>

                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>>
                </form>
              </mat-step>
                <!-- Step 1: Balance Sheet -->
                
                <mat-step [stepControl]="balanceSheetFormGroup">
                  <form [formGroup]="balanceSheetFormGroup">
                    <ng-template matStepLabel>Balance Sheet</ng-template>
                
                    <!-- Assets -->
                    <mat-form-field class="two-columns">
                      <mat-label>Assets</mat-label>
                      <input matInput type="number" formControlName="assets" placeholder="Assets" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('assets')?.hasError('required')">
                        Assets are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('assets')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Current Assets -->
                    <mat-form-field class="two-columns">
                      <mat-label>Current Assets</mat-label>
                      <input matInput type="number" formControlName="currentAssets" placeholder="Current Assets" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('currentAssets')?.hasError('required')">
                        Current assets are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('currentAssets')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Current Liabilities -->
                    <mat-form-field class="two-columns">
                      <mat-label>Current Liabilities</mat-label>
                      <input matInput type="number" formControlName="currentLiabilities" placeholder="Current Liabilities" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('currentLiabilities')?.hasError('required')">
                        Current liabilities are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('currentLiabilities')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Stockholder Equity -->
                    <mat-form-field class="two-columns">
                      <mat-label>Stockholder Equity</mat-label>
                      <input matInput type="number" formControlName="stockholdersEquity" placeholder="Stockholder Equity" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('stockholdersEquity')?.hasError('required')">
                        Stockholder equity is required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('stockholdersEquity')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Liabilities And Stockholder Equity -->
                    <mat-form-field class="two-columns">
                      <mat-label>Liabilities And Stockholder Equity</mat-label>
                      <input matInput type="number" formControlName="liabilitiesAndStockholdersEquity"
                        placeholder="Liabilities And Stockholder Equity" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('liabilitiesAndStockholdersEquity')?.hasError('required')">
                        Liabilities and stockholder equity are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('liabilitiesAndStockholdersEquity')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Retained Earnings -->
                    <mat-form-field class="two-columns">
                      <mat-label>Retained Earnings</mat-label>
                      <input matInput type="number" formControlName="retainedEarnings" placeholder="Retained Earnings" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('retainedEarnings')?.hasError('required')">
                        Retained earnings are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('retainedEarnings')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Working Capital -->
                    <mat-form-field class="two-columns">
                      <mat-label>Working Capital</mat-label>
                      <input matInput type="number" formControlName="workingCapital" placeholder="Working Capital" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('workingCapital')?.hasError('required')">
                        Working capital is required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('workingCapital')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                
                    <!-- Liabilities -->
                    <mat-form-field class="two-columns">
                      <mat-label>Liabilities</mat-label>
                      <input matInput type="number" formControlName="liabilities" placeholder="Liabilities" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('liabilities')?.hasError('required')">
                        Liabilities are required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('liabilities')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                    
                    <!-- Cash -->
                    <mat-form-field class="two-columns">
                      <mat-label>Cash</mat-label>
                      <input matInput type="number" formControlName="cash" placeholder="Cash" required>
                      <mat-error *ngIf="balanceSheetFormGroup.get('cash')?.hasError('required')">
                        Cash is required.
                      </mat-error>
                      <mat-error *ngIf="balanceSheetFormGroup.get('cash')?.hasError('pattern')">
                        Must be a valid number.
                      </mat-error>
                    </mat-form-field>
                   <!-- Accounts Receivable -->
<mat-form-field class="two-columns">
  <mat-label>Accounts Receivable</mat-label>
  <input matInput type="number" formControlName="accountsReceivable" placeholder="Accounts Receivable" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('accountsReceivable')?.hasError('required')">
    Accounts Receivable is required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('accountsReceivable')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Inventory -->
<mat-form-field class="two-columns">
  <mat-label>Inventory</mat-label>
  <input matInput type="number" formControlName="inventory" placeholder="Inventory" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('inventory')?.hasError('required')">
    Inventory is required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('inventory')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Current Other Assets -->
<mat-form-field class="two-columns">
  <mat-label>Current Other Assets</mat-label>
  <input matInput type="number" formControlName="currentOtherAssets" placeholder="Current Other Assets" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('currentOtherAssets')?.hasError('required')">
    Current Other Assets are required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('currentOtherAssets')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Noncurrent Assets -->
<mat-form-field class="two-columns">
  <mat-label>Noncurrent Assets</mat-label>
  <input matInput type="number" formControlName="noncurrentAssets" placeholder="Noncurrent Assets" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('noncurrentAssets')?.hasError('required')">
    Noncurrent Assets are required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('noncurrentAssets')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Intangible Assets -->
<mat-form-field class="two-columns">
  <mat-label>Intangible Assets</mat-label>
  <input matInput type="number" formControlName="intangibleAssets" placeholder="Intangible Assets" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('intangibleAssets')?.hasError('required')">
    Intangible Assets are required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('intangibleAssets')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Accounts Payable -->
<mat-form-field class="two-columns">
  <mat-label>Accounts Payable</mat-label>
  <input matInput type="number" formControlName="accountsPayable" placeholder="Accounts Payable" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('accountsPayable')?.hasError('required')">
    Accounts Payable is required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('accountsPayable')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Short Term Debt -->
<mat-form-field class="two-columns">
  <mat-label>Short Term Debt</mat-label>
  <input matInput type="number" formControlName="shortTermDebt" placeholder="Short Term Debt" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('shortTermDebt')?.hasError('required')">
    Short Term Debt is required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('shortTermDebt')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Long Term Debt -->
<mat-form-field class="two-columns">
  <mat-label>Long Term Debt</mat-label>
  <input matInput type="number" formControlName="longTermDebt" placeholder="Long Term Debt" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('longTermDebt')?.hasError('required')">
    Long Term Debt is required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('longTermDebt')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<!-- Noncurrent Liabilities -->
<mat-form-field class="two-columns">
  <mat-label>Noncurrent Liabilities</mat-label>
  <input matInput type="number" formControlName="noncurrentLiabilities" placeholder="Noncurrent Liabilities" required>
  <mat-error *ngIf="balanceSheetFormGroup.get('noncurrentLiabilities')?.hasError('required')">
    Noncurrent Liabilities are required.
  </mat-error>
  <mat-error *ngIf="balanceSheetFormGroup.get('noncurrentLiabilities')?.hasError('pattern')">
    Must be a valid number.
  </mat-error>
</mat-form-field>

<div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</div>

<mat-step [stepControl]="incomeStatementFormGroup">
  <form [formGroup]="incomeStatementFormGroup">
    <ng-template matStepLabel>Income Statement</ng-template>

    <!-- Earnings Before Interest and Taxes -->
    <mat-form-field class="two-columns">
      <mat-label>Earnings Before Interest and Taxes</mat-label>
      <input matInput type="number" formControlName="earningBeforeInterestAndTaxes"
        placeholder="Earnings Before Interest and Taxes" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('earningBeforeInterestAndTaxes')?.hasError('required')">
        Earnings Before Interest and Taxes is required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('earningBeforeInterestAndTaxes')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Revenues -->
    <mat-form-field class="two-columns">
      <mat-label>Revenues</mat-label>
      <input matInput type="number" formControlName="revenues" placeholder="Revenues" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('revenues')?.hasError('required')">
        Revenues are required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('revenues')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Net Income -->
    <mat-form-field class="two-columns">
      <mat-label>Net Income</mat-label>
      <input matInput type="number" formControlName="netIncome" placeholder="Net Income" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('netIncome')?.hasError('required')">
        Net Income is required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('netIncome')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Gross Profit -->
    <mat-form-field class="two-columns">
      <mat-label>Gross Profit</mat-label>
      <input matInput type="number" formControlName="grossProfit" placeholder="Gross Profit" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('grossProfit')?.hasError('required')">
        Gross Profit is required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('grossProfit')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Operating Expenses -->
    <mat-form-field class="two-columns">
      <mat-label>Operating Expenses</mat-label>
      <input matInput type="number" formControlName="operatingExpenses" placeholder="Operating Expenses" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('operatingExpenses')?.hasError('required')">
        Operating Expenses are required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('operatingExpenses')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Nonoperating Income -->
    <mat-form-field class="two-columns">
      <mat-label>Nonoperating Income</mat-label>
      <input matInput type="number" formControlName="nonoperatingIncome" placeholder="Nonoperating Income" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('nonoperatingIncome')?.hasError('required')">
        Nonoperating Income is required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('nonoperatingIncome')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Interest Expense -->
    <mat-form-field class="two-columns">
      <mat-label>Interest Expense</mat-label>
      <input matInput type="number" formControlName="interestExpense" placeholder="Interest Expense" required>
      <mat-error *ngIf="incomeStatementFormGroup.get('interestExpense')?.hasError('required')">
        Interest Expense is required.
      </mat-error>
      <mat-error *ngIf="incomeStatementFormGroup.get('interestExpense')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<mat-step [stepControl]="cashflowFormGroup">
  <form [formGroup]="cashflowFormGroup">
    <ng-template matStepLabel>Cashflow</ng-template>

    <!-- Net Cash Operating Activities -->
    <mat-form-field class="two-columns">
      <mat-label>Net Cash Operating Activities</mat-label>
      <input matInput type="number" formControlName="netCashOperatingActivities"
        placeholder="Net Cash Operating Activities" required>
      <mat-error *ngIf="cashflowFormGroup.get('netCashOperatingActivities')?.hasError('required')">
        Net Cash Operating Activities is required.
      </mat-error>
      <mat-error *ngIf="cashflowFormGroup.get('netCashOperatingActivities')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Net Cash Investing Activities -->
    <mat-form-field class="two-columns">
      <mat-label>Net Cash Investing Activities</mat-label>
      <input matInput type="number" formControlName="netCashInvestingActivities"
        placeholder="Net Cash Investing Activities" required>
      <mat-error *ngIf="cashflowFormGroup.get('netCashInvestingActivities')?.hasError('required')">
        Net Cash Investing Activities is required.
      </mat-error>
      <mat-error *ngIf="cashflowFormGroup.get('netCashInvestingActivities')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Net Cash Financing Activities -->
    <mat-form-field class="two-columns">
      <mat-label>Net Cash Financing Activities</mat-label>
      <input matInput type="number" formControlName="netCashFinancingActivities"
        placeholder="Net Cash Financing Activities" required>
      <mat-error *ngIf="cashflowFormGroup.get('netCashFinancingActivities')?.hasError('required')">
        Net Cash Financing Activities is required.
      </mat-error>
      <mat-error *ngIf="cashflowFormGroup.get('netCashFinancingActivities')?.hasError('pattern')">
        Must be a valid number.
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Preview</button>
    </div>
  </form>
</mat-step>

                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Preview</ng-template>    
                    <div>
                      <div>
                        <h3>Accession Form Details</h3>
                        <p>Accession Number: {{ accessionFormGroup.get('accessionNo')?.value }}</p>
                        <p>Fiscal Year: {{ accessionFormGroup.get('fy')?.value }}</p>
                        <p>Fiscal Period: {{ accessionFormGroup.get('fp')?.value }}</p>
                        <p>Formtype: {{ accessionFormGroup.get('form')?.value }}</p>
                        <p>FiledAt: {{ accessionFormGroup.get('filed')?.value }}</p>
                      </div>
                      
                      <h3>Balance Sheet</h3>
                      <p>Assets: {{ balanceSheetFormGroup.get('assets')?.value }}</p>

                      <p>Current Assets: {{ balanceSheetFormGroup.get('currentAssets')?.value }}</p>
                      <p>Current Liabilities: {{ balanceSheetFormGroup.get('currentLiabilities')?.value }}</p>
                      <p>Stockholder Equity: {{ balanceSheetFormGroup.get('stockholdersEquity')?.value }}</p>
                      <p>Liabilities And Stockholder Equity: {{ balanceSheetFormGroup.get('liabilitiesAndStockholderEquity')?.value }}</p>
                      <p>Retained Earnings: {{ balanceSheetFormGroup.get('retainedEarnings')?.value }}</p>
                      <p>Working Capital: {{ balanceSheetFormGroup.get('workingCapital')?.value }}</p>
                      <p>Liabilities: {{ balanceSheetFormGroup.get('liabilities')?.value }}</p>
                      <p>Cash: {{ balanceSheetFormGroup.get('cash')?.value }}</p>
                      <p>Accounts Receivable: {{ balanceSheetFormGroup.get('accountsReceivable')?.value }}</p>
                      <p>Inventory: {{ balanceSheetFormGroup.get('inventory')?.value }}</p>
                      <p>Current Other Assets: {{ balanceSheetFormGroup.get('currentOtherAssets')?.value }}</p>
                      <p>Noncurrent Assets: {{ balanceSheetFormGroup.get('noncurrentAssets')?.value }}</p>
                      <p>Intangible Assets: {{ balanceSheetFormGroup.get('intangibleAssets')?.value }}</p>
                      <p>Accounts Payable: {{ balanceSheetFormGroup.get('accountsPayable')?.value }}</p>
                      <p>Short Term Debt: {{ balanceSheetFormGroup.get('shortTermDebt')?.value }}</p>
                      <p>Long Term Debt: {{ balanceSheetFormGroup.get('longTermDebt')?.value }}</p>
                      <p>Noncurrent Liabilities: {{ balanceSheetFormGroup.get('noncurrentLiabilities')?.value }}</p>
                    </div>
                  
                    <div>
                      <h3>Income Statement</h3>
                      <p>Earnings Before Interest and Taxes: {{ incomeStatementFormGroup.get('earningBeforeInterestAndTaxes')?.value }}</p>
                      <p>Revenues: {{ incomeStatementFormGroup.get('revenues')?.value }}</p>
                      <p>Net Income: {{ incomeStatementFormGroup.get('netIncome')?.value }}</p>
                      <p>Gross Profit: {{ incomeStatementFormGroup.get('grossProfit')?.value }}</p>
                      <p>Operating Expenses: {{ incomeStatementFormGroup.get('operatingExpenses')?.value }}</p>
                      <p>Nonoperating Income: {{ incomeStatementFormGroup.get('nonoperatingIncome')?.value }}</p>
                      <p>Interest Expense: {{ incomeStatementFormGroup.get('interestExpense')?.value }}</p>
                    </div>
                  
                    <div>
                      <h3>Cashflow</h3>
                      <p>Net Cash Operating Activities: {{ cashflowFormGroup.get('netCashOperatingActivities')?.value }}</p>
                      <p>Net Cash Investing Activities: {{ cashflowFormGroup.get('netCashInvestingActivities')?.value }}</p>
                      <p>Net Cash Financing Activities: {{ cashflowFormGroup.get('netCashFinancingActivities')?.value }}</p>
                    </div>
                  
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button (click)="onSubmit()">Submit</button>
                    </div>
                  </mat-step>
                  
                  
              </mat-horizontal-stepper>
              
             
            </div>
          </div>
        </div>
    </div>
  </div>