.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust the gap as needed */
  }
  /* Success Snackbar */
.snackbar-success {
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  text-align: center;
}

/* Error Snackbar */
.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
  font-size: 16px;
  text-align: center;
}
