<div class="content-body"> 
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card" style="display: grid; align-content: center;">
        hkbkgkgiugiuykgugi
          hkbkgkgiugiuykgugi
          <div class="container my-5">
            <div>
              <input matInput (keyup)="applyFilter($event)" placeholder="Filter results" />
            </div>
            <div class="example-container mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort class="mat-table">

                <!-- Accession No Column -->
                <ng-container matColumnDef="accessionNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Accession Number</th>
                  <td mat-cell *matCellDef="let row"> {{ row.accessionNo }} </td>
                </ng-container>

                <!-- Prediction Column -->
                <ng-container matColumnDef="prediction">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Prediction</th>
                  <!-- Display 'N/A' if prediction is null -->
                  <td mat-cell *matCellDef="let row"> {{ row.prediction ?? 'N/A' }} </td>
                </ng-container>

                <!-- Table Header and Row Definitions -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <!-- Paginator -->
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

