<!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
                Nav header start
            ***********************************-->
        <div class="nav-header">
          <a href="#" class="brand-logo">
            
                </a>
      
          <div class="nav-control">
            <div class="hamburger">
              <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
          </div>
        </div>
        <!--**********************************
                Nav header end
            ***********************************-->
      
      
        <!--**********************************
                Header start
            ***********************************-->
        <app-header></app-header>
        <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
      
        <!--**********************************
                Sidebar start
            ***********************************-->
        <app-sidebar></app-sidebar>
          <!--**********************************
                Sidebar end
            ***********************************-->
      
          <!--**********************************
                Content body start
            ***********************************-->
            <router-outlet></router-outlet>
                    <!--**********************************
                Content body end
            ***********************************-->
      
          <!--**********************************
                Footer start
            ***********************************-->
          <app-footer></app-footer>
          <!--**********************************
                Footer end
            ***********************************-->
      
      </div>
      <!--**********************************
            Main wrapper end
        ***********************************-->