<div class="main-content">
	<div class="container" [ngClass]="{ 'right-panel-active': active === 'register' }">
	  <!-- Sign-Up Container -->
	  <div class="form-container sign-up-container">
		<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
		  <h4>Create Account</h4>
	  
		  <input type="text" placeholder="First Name" formControlName="firstName" />
		  <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
			<small *ngIf="registerForm.get('firstName')?.hasError('required')">First name is required</small>
			<small *ngIf="registerForm.get('firstName')?.hasError('minlength')">Must be at least 2 characters</small>
		  </div>
	  
		  <input type="text" placeholder="Last Name" formControlName="lastName" />
		  <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
			<small *ngIf="registerForm.get('lastName')?.hasError('required')">Last name is required</small>
			<small *ngIf="registerForm.get('lastName')?.hasError('minlength')">Must be at least 2 characters</small>
		  </div>
	  
		  <input type="text" placeholder="Company Name" formControlName="login" />
		  <div *ngIf="registerForm.get('login')?.invalid && registerForm.get('login')?.touched">
			<small *ngIf="registerForm.get('login')?.hasError('required')">Company Name is required</small>
		  </div>
	  
		  <input type="password" placeholder="Password" formControlName="password" />
		  <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
			<small *ngIf="registerForm.get('password')?.hasError('required')">Password is required</small>
			<small *ngIf="registerForm.get('password')?.hasError('minlength')">Must be at least 8 characters</small>
		  </div>
	  
		  <input type="number" placeholder="Cik" formControlName="id" />
		  <div *ngIf="registerForm.get('id')?.invalid && registerForm.get('id')?.touched">
			<small *ngIf="registerForm.get('id')?.hasError('required')">Cik is required</small>
			<small *ngIf="registerForm.get('id')?.hasError('pattern')">Must be at least 10 numeric,if it's less then 10 put 0 in front </small>

		  </div>
	  
		  <button type="submit" [disabled]="registerForm.invalid">Register</button>
		</form>
	  </div>
	  
	  <!-- Sign-In Container -->
	  <div class="form-container sign-in-container">
		<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		  <h1>Sign in</h1>
	  
		  <input type="text" placeholder="Company Name" formControlName="login" />
		  <div *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">
			<small *ngIf="loginForm.get('login')?.hasError('required')">Company Name is required</small>
		  </div>
	  
		  <input type="password" placeholder="Password" formControlName="password" />
		  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
			<small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>
		  </div>
	  
		  <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
		</form>
	  </div>
	  
  
	  <!-- Overlay Container -->
	  <div class="overlay-container">
		<div class="overlay">
		  <div class="overlay-panel overlay-left">
			<h1>Welcome </h1>
			<h2>To keep connected with us please login with your personal info</h2>
			<button class="ghost" (click)="onLoginTab()">Sign In</button>
		  </div>
		  <div class="overlay-panel overlay-right">
			<h2>Enter your personal details and start your journey with us</h2>
			<button class="ghost" (click)="onRegisterTab()">Sign Up</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  