<div class="index-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <!-- Logo -->
    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="assets/img/logo-light.png" alt="Logo">
    </a>

    <!-- Navigation Menu -->
    <nav id="navmenu" class="navmenu" [ngClass]="{'mobile-nav-active': isMobileNavActive}">
      <ul>
        <li><a routerLink="/home" fragment="hero" (click)="scrollToSection('hero')">Home</a></li>
        <li><a routerLink="/home" fragment="about" (click)="scrollToSection('about')">About</a></li>
        <li><a routerLink="/home" fragment="services" (click)="scrollToSection('services')">Services</a></li>
        <li><a routerLink="/home" fragment="partners" (click)="scrollToSection('partners')">Partners</a></li>
        <li><a routerLink="/home" fragment="contact" (click)="scrollToSection('contact')">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle bi" 
         [ngClass]="{'bi-list': !isMobileNavActive, 'bi-x': isMobileNavActive}" 
         (click)="toggleMobileNav()"></i>
    </nav>

  </div>
</header>

  

  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">
      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <img src="assets/img/logo-light.png" alt="SmartGreen Invest Logo">
            <div class="container section-title" data-aos="fade-up">
              <div>
                <span class="description-title">Fast, reliable, and accurate credit scoring using AI.</span>
              </div>
              <p>Get global coverage and real-time credit scoring</p>
              <a routerLink="/login" class="btn-get-started">Get your credit score</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/hero-img.png" class="img-fluid" alt="Hero Image">
          </div>
        </div>
      </div>
      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
            <div class="row justify-content-center gy-4 mt-5">
                <div class="col-xl-3 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-gem"></i></div>
                        <h4 class="title"><a  class="stretched-link"> 50+<br />Businesses trust us </a></h4>
                    </div>
                </div><!--End Icon Box -->
    
                <div class="col-xl-3 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a  class="stretched-link"> 15 years<br />Experience </a></h4>
                    </div>
                </div><!--End Icon Box -->
            </div>
        </div>
    </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>Unleash potential and move toward the Green Economy</h3>
            <p class="fst-italic">
              We help large Corporates and SMEs unlock their potential and move toward the Green Economy.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Credit Scoring.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>User-friendly Market Place.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Sustainable Financing.</span></li>
            </ul>
            <a routerLink="/login" class="read-more">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="About Image 1">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="About Image 2">
                  </div>
                  <div class="col-lg-12">
                    <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="About Image 3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services section">
      <div class="container">
        <div class="row gy-4">
    
          <!-- Credit Protection -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/credit-protection.png" class="img-fluid" alt="Credit Protection">
              </div>
              <a>
                <h3>Credit Protection</h3>
              </a>
              <p><i class="bi bi-check-circle"></i> A strong credit rating enables borrowers to borrow money at lower interest rates.</p>
              <p><i class="bi bi-check-circle"></i> Credit protection guards against financial fraud and victimization.</p>
            </div>
          </div>
          
          <!-- Credit Scoring -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/credit-scoring.png" class="img-fluid" alt="Credit Scoring">
              </div>
              <a>
                <h3>Credit Scoring</h3>
              </a>
              <p><i class="bi bi-check-circle"></i> Assess creditworthiness with AI-powered Credit Risk and ESG models.</p>
              <p><i class="bi bi-check-circle"></i> Real-time insights for businesses.</p>
            </div>
          </div>
          
          <!-- Smart Loan Contracts -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/smart-contract.png" class="img-fluid" alt="Smart Loan Contracts">
              </div>
              <a>
                <h3>Smart Loan Contracts</h3>
              </a>
              <p><i class="bi bi-check-circle"></i> We employ Smart Loan Contracts: a program that encapsulates business logic and executes on a virtual machine integrated with blockchain technology.</p>
              <p><i class="bi bi-check-circle"></i> Smart Loan contracts can be updated automatically to express patterns cost-effectively.</p>
            </div>
          </div>
          
          <!-- Investor Community -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/investor-community.png" class="img-fluid" alt="Investor Community">
              </div>
              <a>
                <h3>Investor Community</h3>
              </a>
              <p><i class="bi bi-check-circle"></i> By facilitating the investment process, we connect investors and entrepreneurs through our Market Place.</p>
              <p><i class="bi bi-check-circle"></i> Community investing aims to provide social advantages for underprivileged communities while generating profit.</p>
            </div>
          </div>
          
          <!-- Corporate Social Responsibility -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/credit-protection.png" class="img-fluid" alt="Corporate Social Responsibility">
              </div>
              <a>
                <h3>Corporate Social Responsibility</h3>
              </a>
              <p><i class="bi bi-check-circle"></i> We enhance all aspects of society, including economic, social, and environmental well-being, as part of our regular business practices.</p>
              <p><i class="bi bi-check-circle"></i> We promote sustainability by meeting current needs without compromising future generations' ability to meet theirs.</p>
            </div>
          </div>
    
        </div>
      </div>
    </section>
    

    <!-- Partners Section -->
    <section id="partners" class="pricing section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Partners</h2>
        <div><span>We are backed by</span> <span class="description-title">Partners</span></div>
      </div>
      <div class="container">
        <div class="row justify-content-center gy-4">
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-tem">
              <div class="icon">
                <img src="assets/img/modulus.png" class="img-fluid" alt="Modulus">
              </div>
              <ul>
                <li>Modulus provides financial technology products and services.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-tem">
              <div class="icon">
                <img src="assets/img/vrs.png" class="img-fluid" alt="VRS">
              </div>
              <ul>
                <li>Valuation and research specialists for corporations.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <div><span>Need Help?</span> <span class="description-title">Contact Us</span></div>
      </div>
      <div class="container" data-aos="fade" data-aos-delay="100">
        <div class="row justify-content-center gy-4">
          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <div>
                <h3>Location</h3>
                <p>Luxembourg</p>
              </div>
            </div>
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <div>
                <h3>Call Us</h3>
                <p>+359 876 342 142 / +352 661 118 418</p>
              </div>
            </div>
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <div>
                <h3>Email Us</h3>
                <p>contactsmartgreeninvest.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <div class="copyright text-center">
        <p>© <strong>SmartGreen Invest</strong> All Rights Reserved</p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.instagram.com/smartgreeninvest/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/smartgreen-invest/"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        **
      </div>
    </div>
  </footer>
</div>
