<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SmartGreen Invest</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files 
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">-->

  <!-- Main CSS File 
  <link href="assets/css/main.css" rel="stylesheet">-->


</head>

<body class="index-page">


  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo-light.png" alt="">
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#partners">Partners</a></li>
         
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <img src="assets/img/logo-light.png" alt="">
            <div class="container section-title" data-aos="fade-up">
              <div><span class="description-title">Fast, reliable, and accurate credit scoring using AI.</span></div>
              <p>Get global coverage and real-time credit scoring</p>
                <a href="#about" class="btn-get-started">Who are we</a>
                <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
              
            </div>

            
            
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/hero-img.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
            <div class="row justify-content-center gy-4 mt-5">
                <div class="col-xl-3 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-gem"></i></div>
                        <h4 class="title"><a  class="stretched-link"> 50+<br />Businesses trust us </a></h4>
                    </div>
                </div><!--End Icon Box -->
    
                <div class="col-xl-3 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a  class="stretched-link"> 15 years<br />Experience </a></h4>
                    </div>
                </div><!--End Icon Box -->
            </div>
        </div>
    </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>Unleash potential and move toward the Green Economy</h3>
            <p class="fst-italic">
              We help large Corporates and SMEs unlock their potential and move toward the Green Economy.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Credit Scoring.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>User-friendly Market Place.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Sustainable Financing.</span></li>
            </ul>
            <a href="#" class="read-more"><span>Get Started</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <div><span>Check Our</span> <span class="description-title">Services</span></div>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="container">

          <div class="row justify-content-center gy-4">
  
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
              <h2>Would you like to start monitoring your credit?</h2>
              <p class="fst-italic">
                Data doesn't stand still - and nor do we. We are passionate about analyzing data to provide our customers with the complete picture. This is what we do.
              </p>
          
            </div>
  
         
  
          </div>
  
        </div>
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <img src="assets/img/credit-protection.png" class="img-fluid" alt="">
              </div>
              <a>
                <h3>Credit Protection</h3>
              </a>
              
                <p><i class="bi bi-check-circle"></i> <span>A strong credit rating enables borrowers to readily borrow money from financial institutions or the public debt market at a cheaper interest rate.</span></p>
                <p> <i class="bi bi-check-circle"></i> <span>Consumers are protected by credit protection from financial fraud, including any form of victimisation that can harm their potential.</span></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/credit-scoring.png" class="img-fluid" alt="">              </div>
              <a>
                <h3>Credit Scoring</h3>
              </a>
              
                <p><i class="bi bi-check-circle"></i> <span>Lenders and other financial entities can assess a company's creditworthiness using a credit scoring system.</span></p>
                <p> <i class="bi bi-check-circle"></i> <span> We calculate your business credit score based on our Credit Risk and ESG models powered by AI algorithms.</span></p>


             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/smart-contract.png" class="img-fluid" alt="">              </div>
              <a>
                <h3>Smart Loan Contracts</h3>
              </a>
              
                <p><i class="bi bi-check-circle"></i> <span>We employ Smart Loan Contracts: a particular sort of programme that encapsulates business logic and executes on a dedicated virtual machine baked into a distributed ledger like a blockchain.</span></p>
                <p> <i class="bi bi-check-circle"></i> <span>Smart Loan contracts can be automatically updated by the framework to express the patterns in low-cost ways.</span></p>
             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/investor-community.png" class="img-fluid" alt="">              </div>
              <a>
                <h3>Investor Community</h3>
              </a>
              
                <p><i class="bi bi-check-circle"></i> <span>By facilitating the investment process in entrepreneurial enterprises, we aid in the connection between investors and entrepreneurs thanks to our Market Place.</span></p>
                <p> <i class="bi bi-check-circle"></i> <span>Community investing aims to provide low-income or underprivileged communities with social advantages while simultaneously producing a profit.</span></p>
             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <img src="assets/img/credit-protection.png" class="img-fluid" alt="">              </div>
              <a>
                <h3>Corporate Social Responsibility</h3>
              </a>
              
                <p><i class="bi bi-check-circle"></i> <span>In the ordinary course of business, we operate in a way that enhance all aspects of society, including economic, social, and environmental.</span></p>
                <p> <i class="bi bi-check-circle"></i> <span>Meeting current needs while preserving the potential of future generations to do the same is possible through sustainability.</span></p>
             
            </div>
             
          </div><!-- End Service Item -->

       

        </div>

      </div>

    </section><!-- /Services Section -->

 
    <!-- Partners Section -->
    <section id="partners" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our partners</h2>
        <div><span>We are backed by</span> <span class="description-title">Partners</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center gy-4">

       

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-tem">
              <div class="icon">
                <img src="assets/img/modulus.png" class="img-fluid" alt="">
              </div>
              <ul>
                <li>Modulus provides financial technology products and services to professional traders, brokerages, financial institutions and exchanges.</li>
          
              </ul>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-tem">
              <div class="icon">
                <img src="assets/img/vrs.png" class="img-fluid" alt="">

              </div>
              <ul>
                <li>Valuation & research specialists provides corporations with services in financial restructuring, valuation of business enterprises, intangible assets and tangible fixed assets, value enhancement and strategic expansion.</li>
             
              </ul>
            </div>
          </div><!-- End Pricing Item -->


      </div>
    </div>
    </section><!-- /Pricing Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <div><span>Need Help?</span> <span class="description-title">Contact Us</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row justify-content-center gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Location</h3>
                <p>Luxembourg</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+359 876 342 142 / +352 661 118 418</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>contact smartgreeninvest.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

         

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">SmartGreen Invest</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.instagram.com/smartgreeninvest/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/smartgreen-invest/"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">

        Created by <a>Yosra Sejjil</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files  
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>-->

  <!-- Main JS File 
  <script src="assets/js/main.js"></script>-->

</body>

</html>